
/*CSS Reset with universal selector and selector for pseudo elements*/
*,
*::after,
*::before {
    margin:0;
    padding:0;
    
    /*everything inherits now the box-sizing value from body (where we have border-box)*/
    box-sizing: inherit;
}

html {
    /*as html is the "root", 
    I defined a font size here for being able to use rem for the rest of the css.
    Now, 1 rem = 10 px or, in this case, 62.5% (if 16 default pixels are 100%, then
    our 10 pixels are 62.5%*/
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%; //1 rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px
    }
}

body {
    box-sizing: border-box;
    padding: 3 rem;
    
    @include respond(tab-port) {
        padding: 0;
        
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}